.hiPriceStartBlock {
    display: flex;
    margin-top: 92.64px;
    background-color: var(--back);
    padding: 20px 120px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 60px 120px;
    justify-content: space-between;
}

.title{
    font-size: 45px;
    font-weight: 600;
}

.Hi_text {
    font-size: 18px;
    font-weight: 500;
}