.navBar{
    position:fixed;
    top: 0;
    width: 100%;
    background: var(--green);
    z-index: 100;
}

.navBarContent{
    display: flex;
    padding: 20px 0;
    margin: 0 180px;
}

.logoL{
    display: flex;
    align-items: center;   
    cursor: pointer;
}

.logo{
    width: 160px;
    border-radius: 50%;   
}

.icon {
    width: 30px;
    height: 30px;
}

.logoC{
    display: flex;
    justify-content: end;
    align-items: end;
}

.header {
    display: flex;
    justify-content: end;
    width: 100%;
}

/* .hiPrice{
    color: white;
    font: 400;
} */

.list {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    font-weight: 600;
}

.list li {
    list-style-type: none;
}

/* .course{
    color: white;
    font: 400;
} */

/* .course:hover{
    color: var(--light_green);
} */

.listComponent {
    position: relative;
}

.listComponent a {
    color: white;
    font: 400;
}

.listComponent a:hover {
    color: var(--light_green);
}

.listComponent a:hover::after {
    content: "";
    position: absolute;
    background-color: var(--light_green);
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
}

.shopIcon{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.shopIcon:hover {
    color: var(--light_green);
}

.menu {
    display: none;
}

@media screen and (min-width: 380px) and (max-width: 768px) {
    .navBarContent {
        margin: 0 20px;
        align-items: center;
    }

    /* .header {
        display: none;
    } */

    .listComponent {
        display: none;
    }

    .shopIcon{
        display: flex;
        margin-left: auto;
    }

    .menu {
        display: flex;
        width: 40px;
        height: 40px;
        margin-left: auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 1439px) {
    .navBarContent {
        margin: 0 60px;
    }
}

