.footerCont{
    background-color: var(--back);
    padding: 60px 200px;
}

.footerBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.firstFooterBlock {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 30px;
    font-family: "Inter", sans-serif;

}

.list{
    display: flex;
    gap: 20px;
}

.list li a {
    color: white;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    /* background-color: black; */
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.icon {
    width: 28px;
    height: 28px;
}

.ALl_Rights {
    display: flex;
    margin: auto 0;
}

@media screen and (min-width: 380px) and (max-width: 768px) {

    .firstFooterBlock {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }




}