

.footerCont{
    background-color: var(--back);
    padding: 60px 120px;
}

.list{
    display: flex;
    gap: 20px;
}

.list li {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50%;
}

.list li a {
    color: white;
}

.firstFooterBlock {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (min-width: 380px) and (max-width: 768px) {

    .firstFooterBlock {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }




}