:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  --back: #1A1A1A;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.first {
    background-image: url(../public/main.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
}