.Payment{
    width: 346px;
    height: 562px;
    border: 2px solid white;
    position: relative;
    overflow: hidden;
    background-color: rgb(23, 28, 22);
}

.Payment__Img{
    height: 387.5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-self: center;
}

.Payment__Img:hover {
    transform: scale(1.2);
}

.line{
    background-color: white;
    height: 1px;
    width: 100%;
}

.pic {
    width: 100%;
    max-height: 100%;
}


.Payment__Content {
    width: 100%;
    border-top: 1px solid #fff;
    display: flex;
    flex-direction: column;
}

.Payment__Content__Text{
    font-size: 24px;
}

.Payment__Content__Price {
    font-size: 20px;
    margin-top: 8px;
}


.Payment__Content__Btn{
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 200px;
    transform: translateX(-60%);
    background: none;
    margin: auto 20px;
    border-radius: 16px;
    border: 1px solid rgb(255, 217, 102);
    color: rgb(255, 217, 102);
    padding: 8px;
}

.Payment__Content__Btn:hover {
    color: black;
    background-color: rgb(255, 217, 102);
}